@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");
.navbar {
  background-color: #292828;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
}
.navbar ul {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  width: 35%;
  padding: 0.3rem 1em;
  justify-content: space-between;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 0 0.5em 0;
}
.navbar ul li a:hover {
  border: solid black 1px;
  color: #FF8D29 !important;
  border-radius: 10px;
  background-color: #161616;
}

.about-me {
  position: relative;
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
  background-color: #161616;
}
.about-me .left {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
}
.about-me .left .skill {
  color: #FF8D29;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 594px;
  height: 102px;
}
.about-me .left .skill .item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 61px;
  width: 594px;
  height: 50px;
}
.about-me .left .skill .item .iskill {
  width: 174px;
  height: 50px;
  border: 1px solid #E27E27;
  border-radius: 15px;
}
.about-me .left a {
  text-decoration: none;
  color: #FF8D29;
}
.about-me .right {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background-image: url(../asset/diki.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 85% 70%;
}
.about-me .right img {
  height: auto;
  width: auto;
  position: relative;
  top: -10rem;
}
.about-me .center {
  text-align: center;
}
.about-me .center h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #FF8D29;
}
.about-me .center p {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  padding: 3em;
}
.about-me .center button {
  padding: 0.1em 0.8em;
  background-color: transparent;
  border: #FF8D29 solid;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}
.about-me .desc {
  padding-top: 10%;
}

.portofolio {
  height: 90vh;
}
.portofolio .left-p {
  height: 90vh;
  background-image: url(../asset/pbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.portofolio .right-p {
  height: 90vh;
}
.portofolio h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #161616;
}
.portofolio p {
  color: #FF8D29;
  font-size: 2rem;
}

.certificate {
  background-color: #161616;
  color: #FF8D29;
}
.certificate .social-media {
  border-radius: 100%;
  border: solid #FF8D29;
  padding: 10px;
}
.certificate .social-media path {
  fill: #FF8D29 !important;
}
.certificate .social-media .med {
  fill: #161616 !important;
}
.certificate .social-media:hover {
  border: solid white !important;
}
.certificate .social-media:hover path {
  fill: white !important;
}
.certificate .social-media:hover .med {
  fill: #161616 !important;
}
.certificate .social-media:hover rect {
  fill: white !important;
}
.certificate .owl-prev {
  position: absolute;
  top: 40%;
  left: 30px;
  display: block !important;
  border: 0px solid black;
}
.certificate .owl-next {
  position: absolute;
  top: 40%;
  right: 30px;
  display: block !important;
  border: 0px solid black;
}

.certificate-p {
  background-color: #161616;
  height: 100vh;
  color: #FF8D29;
}
.certificate-p .social-media {
  border-radius: 100%;
  border: solid #FF8D29;
  padding: 10px;
}
.certificate-p .social-media path {
  fill: #FF8D29 !important;
}
.certificate-p .social-media .med {
  fill: #161616 !important;
}
.certificate-p .social-media:hover {
  border: solid white !important;
}
.certificate-p .social-media:hover path {
  fill: white !important;
}
.certificate-p .social-media:hover .med {
  fill: #161616 !important;
}
.certificate-p .social-media:hover rect {
  fill: white !important;
}
.certificate-p .owl-prev {
  position: absolute;
  top: 40%;
  left: 30px;
  display: block !important;
  border: 0px solid black;
}
.certificate-p .owl-next {
  position: absolute;
  top: 40%;
  right: 30px;
  display: block !important;
  border: 0px solid black;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font-family: "Kadwa", serif;
  box-sizing: inherit;
}

body {
  background-color: #161616;
  overflow-x: hidden;
}

@media screen and (max-width: 400px) {
  .about-me .right {
    background-size: 290% !important;
    background-repeat: no-repeat;
    background-position: 75% 30%;
  }
  .about-me .left .center p {
    font-size: 0.8rem !important;
    padding: 0.8em !important;
  }
  .about-me .left .center button {
    font-size: 0.8rem !important;
  }
  .portofolio .right-p {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    background: linear-gradient(180deg, rgba(59, 3, 12, 0.4) 0%, #161616 100%);
  }
  .portofolio .right-p h1 {
    font-size: 4rem !important;
    font-weight: 400;
    color: #FF8D29;
  }
  .portofolio .right-p p {
    color: #FF8D29;
    font-size: 1.5rem !important;
  }
  .portofolio .right-p button {
    padding: 0.1em 0.8em;
    background-color: transparent;
    border: #FF8D29 solid 2px;
    border-radius: 10px;
    color: #FF8D29;
    margin-top: 5rem;
    cursor: pointer;
    font-size: large;
  }
  .portofolio .right-p button a {
    text-decoration: none;
    color: #FF8D29;
  }
}
@media screen and (max-width: 600px) {
  .about-me {
    height: 100vh;
  }
  .about-me .right {
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 75% 30%;
  }
  .about-me .center p {
    font-size: 0.8rem !important;
    padding: 0.5em;
  }
  .portofolio .left-p {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .portofolio .right-p {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    background: linear-gradient(180deg, rgba(59, 3, 12, 0.4) 0%, #161616 100%);
  }
  .portofolio .right-p h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #FF8D29;
  }
  .portofolio .right-p p {
    color: #FF8D29;
    font-size: 3rem;
  }
  .portofolio .right-p button {
    padding: 0.1em 0.8em;
    background-color: transparent;
    border: #FF8D29 solid 2px;
    border-radius: 10px;
    color: #FF8D29;
    margin-top: 5rem;
    cursor: pointer;
    font-size: large;
  }
  .portofolio .right-p button a {
    text-decoration: none;
    color: #FF8D29;
  }
}
@media screen and (max-width: 1000px) {
  .about-me {
    height: 100vh;
    width: 100vw;
  }
  .about-me .right {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 75% 30%;
  }
  .about-me .center p {
    padding: 2em;
    font-size: 1rem !important;
  }
  .about-me .center button {
    font-size: 1.5rem;
  }
  .portofolio {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    top: 0;
  }
  .portofolio .left-p {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .portofolio .right-p {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    background: linear-gradient(180deg, rgba(59, 3, 12, 0.4) 0%, #161616 100%);
  }
  .portofolio .right-p h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #FF8D29;
  }
  .portofolio .right-p p {
    color: #FF8D29;
    font-size: 3rem;
  }
  .portofolio .right-p button {
    padding: 0.1em 0.8em;
    background-color: transparent;
    border: #FF8D29 solid 2px;
    border-radius: 10px;
    color: #FF8D29;
    margin-top: 5rem;
    cursor: pointer;
    font-size: large;
  }
  .portofolio .right-p button a {
    text-decoration: none;
    color: #FF8D29;
  }
}/*# sourceMappingURL=index.css.map */